.error-message {
  background-color: #ff5e5e;
  border: $darkBorder;
  border-radius: $borderRadius;
  text-align: center;
  margin: $containerVerticalMargin $containerHorizontalMargin;
  padding: 0.5em;
}