/*Standard tweet*/
.existing-tweet {
  opacity: .85;
  margin: 0 $containerHorizontalMargin;
  border: 1px solid $containerBorderColor;
  border-radius: $borderRadius;
  background-color: white;
  margin-top: $containerVerticalMargin;

    .user-header{
      height: 4em;
      background-color: #eee;
      width: 100%;
      border-top-left-radius: $borderRadius;
      border-top-right-radius: $borderRadius;

        h2{
          margin-top: .25em;
          display: inline-block;
          color: #244751;
          opacity: 1;
        }

        span{
          float: right;
          display: inline-block;
          color: #9b9b9b;
          margin: .5em;
        }

        img{
          border-radius: $borderRadius;
          margin: .5em .5em;
          display: inline-block;
          float: left;
        }

    }

  .tweet {
    margin: $containerHorizontalMargin .5em $containerHorizontalMargin .5em;
  }

  .timestamp-footer{
    border-top: 1px solid $containerBorderColor;
    line-height: 2em;
    font-size: .75em;
    padding-left: .5em;

      img{
        height: 20px;
        width: 25px;
        float: right;
        padding-top: 0.5em;
        padding-right: 0.75em;
      }

  }

}


/*hover tweet*/

.existing-tweet:hover {
  opacity: 1;
  border: $darkBorder;

  .user-header:hover{
    background-color: #eee;

      h2: hover{
        margin-top: .25em;
        display: inline-block;
        color: black;
      }

  }

  .timestamp-footer:hover{
    border-top: $darkBorder;
  }

}




