//new tweet composer
.new-tweet {
  margin: 0 $containerHorizontalMargin;
  padding: 0 1em 1em 1em;
  border: 1px solid $containerBorderColor;
  border-radius: $borderRadius;
  background-color: #eee;


    h2{
      border-bottom: $darkBorder;
    }

    textarea{
      margin: 0 auto;
      width: 100%;
      padding: 10px;
    }

}

.counter{
  float: right;
  font-style: italic;
}

.overflow{
  color:red;
}
